@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%; }

html,
body {
  height: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block; }

b,
strong {
  font-weight: bold; }

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

ul,
ol {
  list-style: none; }

li {
  display: list-item; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left; }

q {
  quotes: none; }

q:before,
q:after {
  content: "";
  content: none; }

sub,
sup,
small {
  font-size: 75%; }

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

svg {
  overflow: hidden; }

@font-face {
  font-family: 'DejaVu';
  src: url("../fonts/DejaVuSerif.woff") format("woff"); }

@font-face {
  font-family: 'DejaVu';
  src: url("../fonts/DejaVuSerif-Bold.woff") format("woff");
  font-weight: 600; }

@font-face {
  font-family: 'Sen';
  src: url("../fonts/Sen.woff") format("woff"); }

@font-face {
  font-family: 'Sen';
  src: url("../fonts/Sen-Bold.woff") format("woff");
  font-weight: 600; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 18px; }

html, body {
  overflow: hidden; }

img {
  max-width: 100%;
  height: auto; }

svg * {
  fill: currentColor; }

a {
  cursor: pointer;
  color: #F86C4F; }

b, strong {
  font-weight: 600; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

h1, h2, h3, h4, h5, h6 {
  line-height: 105%; }

ul {
  padding-left: 1.5em; }
  ul li {
    list-style-type: disc; }

[v-cloak] {
  display: none; }

@media (min-width: 768px) {
  .mobile-only {
    display: none; } }

@media (max-width: 767px) {
  .desktop-only {
    display: none; } }

body {
  background: #494949;
  font-family: "Sen", "Comic Sans MS", "Comic Sans", cursive; }

main {
  height: 100%;
  padding-bottom: 76px; }

section {
  padding: 20px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 65px;
  left: 0;
  overflow-y: auto; }
  section .inner {
    background: #eee;
    padding: 12px; }

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 64px;
  z-index: 5;
  background: #F86C4F; }
  footer nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 10px 0 10px; }
    footer nav a {
      width: 64px;
      -ms-flex-preferred-size: 64px;
      flex-basis: 64px;
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      -ms-flex-item-align: auto;
      align-self: auto;
      text-align: center;
      font-size: 10px;
      position: relative;
      color: #eee; }
    footer nav .icon {
      display: inline-block;
      height: 36px;
      width: 36px;
      border: 2px solid currentColor;
      border-radius: 50%;
      margin-bottom: 0;
      padding-bottom: 0;
      position: relative; }
      footer nav .icon .fill {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: currentColor;
        -webkit-transform: scale(2);
        -ms-transform: scale(2);
        transform: scale(2);
        opacity: 0;
        border-radius: 50%;
        -webkit-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear; }
        footer nav .icon .fill.active {
          -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
          transform: scale(1.05);
          opacity: 1;
          -webkit-transition: -webkit-transform 0.3s linear;
          transition: -webkit-transform 0.3s linear;
          -o-transition: transform 0.3s linear;
          transition: transform 0.3s linear;
          transition: transform 0.3s linear, -webkit-transform 0.3s linear; }
    footer nav span {
      display: block; }
    footer nav .badge {
      width: 20px;
      height: 20px;
      background: #ee2a2a;
      border-radius: 50%;
      color: #eee;
      font-weight: 600;
      line-height: 180%;
      position: absolute;
      top: -5px;
      left: 55%; }

/*
footer { background-color:$orange;
  nav {
    a { color:$white; }
    .icon { border-color: $white;
      .fill { background-color:$white; }
    }
    span { color:$white; }
  }
}
*/
button, .button {
  font-size: 0.8em;
  color: #eee;
  background: #F86C4F;
  border: none;
  border-radius: 2px;
  padding: 0.6em 2em;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Sen", "Comic Sans MS", "Comic Sans", cursive;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  button:hover, .button:hover {
    background: #ff6748; }
  button .icon, .button .icon {
    display: inline-block;
    height: 1em;
    line-height: 1em;
    margin: 0 0.5em 0 0;
    width: 1em; }

section.news dl {
  padding: 12px;
  border-bottom: 1px solid #494949; }
  section.news dl:last-child {
    border-bottom: none; }

section.news dt {
  cursor: pointer;
  font-weight: 600;
  color: #F86C4F; }
  section.news dt .unread {
    width: 1em;
    height: 1em;
    display: inline-block;
    background-color: #ee2a2a;
    border-radius: 50%;
    color: #eee;
    margin-right: 0.5em;
    text-align: center; }

section.news dd {
  margin-top: 10px;
  font-size: 0.85em; }

section.contact select {
  display: block;
  width: 100%;
  font-family: "DejaVu", "Papyrus", serif;
  padding: 0.5em 1em;
  margin-bottom: 1em; }

section.contact textarea {
  font-family: "DejaVu", "Papyrus", serif;
  width: 100%;
  padding: 0.5em 1em; }

section.contact label {
  display: block;
  width: 100%; }

section.contact .button-holder {
  text-align: center;
  padding-top: 0.5em; }

section.contact button {
  background: #F86C4F;
  color: #494949;
  border: 0;
  font-family: "Sen", "Comic Sans MS", "Comic Sans", cursive;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.5em 1em; }

section.iframe .inner {
  padding: 0;
  height: 100%; }

section.iframe iframe {
  width: 100%;
  height: 100%; }

.bill {
  border-bottom: 1px solid #494949;
  padding: 1em 0; }

.bills-heading {
  color: #F86C4F;
  cursor: pointer;
  margin: 1em 0 0; }
  .bills-heading:first-of-type {
    margin-top: 0; }
  .bills-heading .indicator {
    margin-left: 0.75em;
    position: relative; }
    .bills-heading .indicator.loading .bar {
      -webkit-animation: spin 3s linear infinite;
      animation: spin 3s linear infinite; }
    .bills-heading .indicator.expanded .bar {
      background-color: #F86C4F; }
      .bills-heading .indicator.expanded .bar.v {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg); }
    .bills-heading .indicator .bar {
      background-color: #494949;
      display: inline-block;
      position: absolute;
      -webkit-transition: 0.3s all;
      -o-transition: 0.3s all;
      transition: 0.3s all; }
      .bills-heading .indicator .bar.v {
        height: 1em;
        width: 5px; }
      .bills-heading .indicator .bar.h {
        width: 1em;
        height: 5px;
        top: 13px;
        left: -11px; }

.bill-custom-name {
  margin-left: 1em; }

.bill-author {
  margin: 0.25em 0 0.5em; }

.bill-author--party {
  border-radius: 50%;
  color: white;
  margin-left: 1em;
  padding: 0 0.25em; }
  .bill-author--party.D {
    background-color: #005CAF; }
  .bill-author--party.R {
    background-color: #E83015; }

.email-congress {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.email-sent {
  margin-left: 1em;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .email-sent.checked {
    color: green; }
    .email-sent.checked .checkbox svg {
      color: green;
      border: 3px solid green; }
      .email-sent.checked .checkbox svg path {
        opacity: 1; }
  .email-sent .checkbox {
    padding-top: 6px;
    margin-right: 1em; }
    .email-sent .checkbox svg {
      width: 1.5em;
      padding: 2px;
      border: 3px solid #494949; }
      .email-sent .checkbox svg path {
        opacity: 0;
        -webkit-transition: 0.3s all;
        -o-transition: 0.3s all;
        transition: 0.3s all; }

.schedule {
  border-top: 1em solid #494949; }

.schedule-heading {
  color: #F86C4F;
  cursor: pointer; }

.schedule-item {
  margin: 1em 0; }

/*# sourceMappingURL=cniga.css.map */