footer(v-if="my.userType == 'member'")
  nav
    a(v-on:click="my.view = 'news'")
      .icon
        .fill(v-bind:class="{active: my.view == 'news'}")
      .badge(v-if="my.unreadItems > 0" v-text="my.unreadItems")
      span News
    a(v-on:click="my.view = 'contact'")
      .icon
        .fill(v-bind:class="{active: my.view == 'contact'}")
      span Contact
    a(v-on:click="my.view = 'members'")
      .icon
        .fill(v-bind:class="{active: my.view == 'members'}")
      span Member Info
    a(v-on:click="my.view = 'iframe'")
      .icon
        .fill(v-bind:class="{active: my.view == 'iframe'}")
      span Information
footer.guest(v-else-if="my.userType == 'guest'")
  .inner
    a(v-on:click="my.view = 'login'") Log In
