.javascripts
  //-script(src="cordova.js")
  //-script(src="js/libraries/jquery-3.2.1.min.js")
  script(src="js/libraries/velocity.min.js")
  if testing
    script(src="js/libraries/vue.js")
  else
    script(src="js/libraries/vue.min.js")
  script(src="js/cniga.min.js")