
<transition enter-active-class="animated bounceInUp" leave-active-class="animated bounceOutUp">
  <section class="welcome" v-if="my.view == 'welcome'" v-cloak="v-cloak">
    <div class="inner">
      <div class="logo-holder"><img class="logo" src="svg/cniga.svg"/></div>
      <div class="box"> 
        <div class="login-text login-before" v-if="loginStatus=='guest'">
          <p>This app is for CNIGA members only. Please enter your email address and we'll send you credentials to log in.</p>
        </div>
        <div class="login-text login-error" v-if="loginStatus=='error'">
          <p> <b>We don't have that address on file!</b></p>
          <p>
              Please check to see if it was mistyped, or, if you believe you should be in the records, contact <a href="mailto:fake@email.info">fake@email.info</a></p>
        </div>
        <div class="login-text login-validating" v-if="loginStatus=='validating'">
          <p> <b>Check your email!</b></p>
          <p>
            <p>We've sent a login code to the email address provided.</p>
          </p>
        </div>
        <div class="login-text login-error" v-if="loginStatus == 'validateError'">
          <p><b>Incorrect code.</b></p>
          <p>We've send a four letter code to your email address. Please double check.</p>
        </div>
        <form v-on:submit.prevent="checkPassword" v-if="loginStatus != 'validating' &amp;&amp; loginStatus != 'validateError'">
          <label><span v-bind:class=" { error: loginStatus=='error' } ">Email Address</span>
            <input type="email" v-model="my.email" v-bind:class=" { error: loginStatus=='error' } "/>
          </label>
          <div class="button-holder">
            <button type="submit">Send Code</button>
          </div>
        </form>
        <form v-on:submit.prevent="checkLoginCode" v-if="loginStatus == 'validating' || loginStatus == 'validateError'">
          <label>
            <input class="code" type="text" v-model="my.loginCode" maxlength="4" v-bind:class=" { error: loginStatus=='validateError' } "/>
          </label>
          <div class="button-holder">
            <button type="submit">Log In</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</transition>