.indicator{ margin-left: 0.75em; pointer-events: none;
  .icons { position: relative; }
  .loader, .expand { height: 26px; width: 26px; }
  .loader{ @include position(absolute,0,0);  animation:spin 3s linear infinite; }
  &.loading{
    .expand { opacity: 0; }
  }
  .loaded {
    .loader { opacity: 0; }
    .expand { opacity: 1; }
  }
  
  .expand { @include position(absolute,0,0); transition: all 0.3s ease;
    .circle { fill:$orange; }
    .arrow { fill:$white;  }
  }
  
  &.expanded{
    .expand { transform: rotate(180deg); }
  }
  /*
  .bar{
    background-color: $black;
    position: absolute;
    display: inline-block;
    transition: 0.3s all;
    &.v{
      height: 1em;
      width: 5px;
    }
    &.h{
      width: 1em;
      height: 5px;
      top: 50%;
      left: -11px;
      transform: translateY(-50%) ;
    }
  }
  */
}
