body { background:$black; font-family:$sans; }
main { height: 100%; padding-bottom: 76px; }

section { padding: 20px; @include position(fixed,0,0,65px,0); overflow-y: auto;
  .inner { background: $white; padding: 12px; margin-bottom: 20px; }
}