// COLORS
$black: #494949;
$orange:  #F86C4F;
$gray: #e8e8e8;
  // FONTS
  $link: $orange;

$sans: 'Sen', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: 'DejaVu', Big Caslon, Book Antiqua, Palatino Linotype, Georgia, serif; 

$header-height:38px;
$footer-height:42px;

$padding: 24px;
$variables: 8px;
