transition(enter-active-class="animated animated-entrance bounceInUp" leave-active-class="animated bounceOutUp")
  section.contact(v-if="my.view == 'contact'" v-cloak)
    .inner
      form
        label
          span(v-if="!my.contactChoice") What can we do for you?
          select(v-model="my.contactChoice")
            option
            option Ask a question
            option Request a Form
        transition(enter-active-class="animated animated-entrance zoomIn" leave-active-class="animated zoomOut")
          label(v-if="my.contactChoice")
            textarea(placeholder="What's your question?")
        transition(enter-active-class="animated animated-entrance zoomIn" leave-active-class="animated zoomOut")
          .button-holder(v-if="my.contactChoice")
            button(type="submit") Submit