+sectionWrap('conference')
  .inner
    .lead-in(v-html="conference.text")
  if platform == "android"
    .inner(v-if="conference.play_store_url")
      a(v-bind:href="conference.play_store_url")
        img(src="img/play-store.png")
  if platform == "ios"
    .inner(v-if="conference.app_store_url")
      a(v-bind:href="conference.app_store_url")
        img(src="img/app-store.png")