transition(enter-active-class="animated bounceInUp" leave-active-class="animated bounceOutUp")
  section.iframe(v-if="my.view == 'iframe'" v-cloak)
    .inner
      iframe(src="https://cniga.com" height="100%" id="iframe" scrolling="no" width="100%")
