+sectionWrap('iframe')
  .inner
    if platform == "android"
      iframe(src="https://cniga.com" id="iframe" scrolling="yes")
    if platform == "ios"
      iframe(src="https://cniga.com" id="iframe" scrolling="no")
