transition(enter-active-class="animated bounceInUp" leave-active-class="animated bounceOutUp")
  section.members(v-if="my.view == 'legislation'" v-cloak)
    .bills(v-if="my.view == 'legislation'" v-cloak v-bind:key="0")
      .inner
        .bills-heading(v-on:click="stateSupportShow = !stateSupportShow;") State Legislation we are 
          span.support SUPPORTING
        +loadIndicator("stateSupportShow")
        transition(v-on:enter="slideDown" v-on:leave="slideUp")
          .bill-list(v-if="stateSupportShow")
            .bill(v-for="bill in stateSupport")
              .title
                a.bill-title(v-if="bill.billLink" v-on:click="openLink(bill.billLink, '_system');") {{bill.billTitle}}
                span.bill-title(v-else) {{bill.billTitle}}
                strong.bill-custom-name(v-if="bill.billName") {{bill.billName}}
                a.bill-acted(v-if="my.sentBills.includes(bill.billTitle)" v-on:click="toggleBillCollapse(bill.billTitle)" v-bind:class="{ expanded: my.expandedBills.includes(bill.billTitle) }")
                  svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 32 32')
                    g.read
                      path(d='M26.2 17v8.3l-6.9-5.9 3.8-3c-.4-.2-.7-.4-1.1-.7l-7.6 5.9-11.7-9.1v-.3h17.4c0-.3-.1-.6-.1-.9V11H2.1c-.3 0-.6.3-.6.6v15.1c0 .3.3.6.6.6h24.7c.3 0 .6-.3.6-.6v-9.9c-.4.1-.8.1-1.2.2zM2.7 14l6.9 5.4-6.9 5.9V14zm1 12l6.9-5.9 3.5 2.7c.2.2.5.2.7 0l3.5-2.7 6.9 5.9H3.7z')
                      path(d='M25.7 6.6c2.6 0 4.7 2.1 4.7 4.7S28.3 16 25.7 16 21 13.9 21 11.3s2.1-4.7 4.7-4.7m0-1c-3.2 0-5.7 2.6-5.7 5.7s2.6 5.7 5.7 5.7 5.7-2.6 5.7-5.7-2.5-5.7-5.7-5.7z')
                      path(d='M25 13.7c-.1 0-.3-.1-.4-.1l-1.9-1.9c-.2-.2-.2-.5 0-.7s.5-.2.7 0l1.5 1.5L28.5 9c.2-.2.5-.2.7 0s.2.5 0 .7l-3.8 3.8c-.1.1-.2.2-.4.2z')
                    g.collapse
                      path(d='M2 27c-.3 0-.7-.1-.9-.4-.5-.5-.4-1.3.1-1.8l12.6-11.3c.5-.4 1.2-.4 1.7 0l12.2 11.3c.5.5.5 1.3.1 1.8-.5.5-1.3.5-1.8.1L14.6 16.2 2.9 26.7c-.3.2-.6.3-.9.3z')
              .details(v-if="!my.sentBills.includes(bill.billTitle) || my.expandedBills.includes(bill.billTitle)")
                p.bill-author
                  a.bill-author--name(v-if="bill.billAuthorLink" v-on:click="openLink(bill.billAuthorLink, '_system');") {{bill.billAuthorName}}
                  span.bill-author--name(v-else) {{bill.billAuthorName}}
                  span.bill-author--party(v-bind:class="bill.billAuthorParty") {{bill.billAuthorParty}}
                //-p {{bill.description}}
                p(v-if="bill.billDesc" v-html="bill.billDesc")
                p(v-else) {{bill.description}}
                p(v-if="bill.billImpact" v-html="bill.billImpact") 
                .email-congress(v-if="bill.emailBody")
                  a.email-button(:href="emailLink(bill.emailSubject, bill.emailBody)" class="button") Email Congress
                span.email-sent(v-on:click="toggleEmailSent(bill.billTitle)" v-bind:class="{checked: my.sentBills.indexOf(bill.billTitle) !== -1}") 
                  span.checkbox 
                    svg(aria-hidden="true" data-fa-processed="" data-prefix="fas" data-icon="check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512")
                      path(d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z")
                  | I sent an email about this bill
    .bills
      .inner
        .bills-heading(v-on:click="stateOpposeShow = !stateOpposeShow;") State Legislation we are 
          span.oppose Opposing
        +loadIndicator("stateOpposeShow")
        transition(v-on:enter="slideDown" v-on:leave="slideUp")
          .bill-list(v-if="stateOpposeShow")
            .bill(v-for="bill in stateOppose")
              .title
                a.bill-title(v-if="bill.billLink" v-on:click="openLink(bill.billLink, '_system');") {{bill.billTitle}}
                span.bill-title(v-else) {{bill.billTitle}}
                strong.bill-custom-name(v-if="bill.billName") {{bill.billName}}
                a.bill-acted(v-if="my.sentBills.includes(bill.billTitle)" v-on:click="toggleBillCollapse(bill.billTitle)" v-bind:class="{ expanded: my.expandedBills.includes(bill.billTitle) }")
                  svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 32 32')
                    g.read
                      path(d='M26.2 17v8.3l-6.9-5.9 3.8-3c-.4-.2-.7-.4-1.1-.7l-7.6 5.9-11.7-9.1v-.3h17.4c0-.3-.1-.6-.1-.9V11H2.1c-.3 0-.6.3-.6.6v15.1c0 .3.3.6.6.6h24.7c.3 0 .6-.3.6-.6v-9.9c-.4.1-.8.1-1.2.2zM2.7 14l6.9 5.4-6.9 5.9V14zm1 12l6.9-5.9 3.5 2.7c.2.2.5.2.7 0l3.5-2.7 6.9 5.9H3.7z')
                      path(d='M25.7 6.6c2.6 0 4.7 2.1 4.7 4.7S28.3 16 25.7 16 21 13.9 21 11.3s2.1-4.7 4.7-4.7m0-1c-3.2 0-5.7 2.6-5.7 5.7s2.6 5.7 5.7 5.7 5.7-2.6 5.7-5.7-2.5-5.7-5.7-5.7z')
                      path(d='M25 13.7c-.1 0-.3-.1-.4-.1l-1.9-1.9c-.2-.2-.2-.5 0-.7s.5-.2.7 0l1.5 1.5L28.5 9c.2-.2.5-.2.7 0s.2.5 0 .7l-3.8 3.8c-.1.1-.2.2-.4.2z')
                    g.collapse
                      path(d='M2 27c-.3 0-.7-.1-.9-.4-.5-.5-.4-1.3.1-1.8l12.6-11.3c.5-.4 1.2-.4 1.7 0l12.2 11.3c.5.5.5 1.3.1 1.8-.5.5-1.3.5-1.8.1L14.6 16.2 2.9 26.7c-.3.2-.6.3-.9.3z')
              .details(v-if="!my.sentBills.includes(bill.billTitle) || my.expandedBills.includes(bill.billTitle)")
                p.bill-author
                  a.bill-author--name(v-if="bill.billAuthorLink" v-on:click="openLink(bill.billAuthorLink, '_system');") {{bill.billAuthorName}}
                  span.bill-author--name(v-else) {{bill.billAuthorName}}
                  span.bill-author--party(v-bind:class="bill.billAuthorParty") {{bill.billAuthorParty}}
                //-p {{bill.description}}
                p(v-if="bill.billDesc" v-html="bill.billDesc")
                p(v-else) {{bill.description}}
                p(v-if="bill.billImpact" v-html="bill.billImpact") 
                .email-congress(v-if="bill.emailBody")
                  a.email-button(:href="emailLink(bill.emailSubject, bill.emailBody)" class="button") Email Congress
                span.email-sent(v-on:click="toggleEmailSent(bill.billTitle)" v-bind:class="{checked: my.sentBills.indexOf(bill.billTitle) !== -1}") 
                  span.checkbox 
                    svg(aria-hidden="true" data-fa-processed="" data-prefix="fas" data-icon="check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512")
                      path(d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z")
                  | I sent an email about this bill
    .bills
      .inner
        .bills-heading(v-on:click="stateMonitorShow = !stateMonitorShow;") State Legislation we are 
          span.monitor Monitoring
        +loadIndicator("stateMonitorShow")
        transition(v-on:enter="slideDown" v-on:leave="slideUp")
          .bill-list(v-if="stateMonitorShow")
            .bill(v-for="bill in stateMonitor")
              .title
                a.bill-title(v-if="bill.billLink" v-on:click="openLink(bill.billLink, '_system');") {{bill.billTitle}}
                span.bill-title(v-else) {{bill.billTitle}}
                strong.bill-custom-name(v-if="bill.billName") {{bill.billName}}
                a.bill-acted(v-if="my.sentBills.includes(bill.billTitle)" v-on:click="toggleBillCollapse(bill.billTitle)" v-bind:class="{ expanded: my.expandedBills.includes(bill.billTitle) }")
                  svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 32 32')
                    g.read
                      path(d='M26.2 17v8.3l-6.9-5.9 3.8-3c-.4-.2-.7-.4-1.1-.7l-7.6 5.9-11.7-9.1v-.3h17.4c0-.3-.1-.6-.1-.9V11H2.1c-.3 0-.6.3-.6.6v15.1c0 .3.3.6.6.6h24.7c.3 0 .6-.3.6-.6v-9.9c-.4.1-.8.1-1.2.2zM2.7 14l6.9 5.4-6.9 5.9V14zm1 12l6.9-5.9 3.5 2.7c.2.2.5.2.7 0l3.5-2.7 6.9 5.9H3.7z')
                      path(d='M25.7 6.6c2.6 0 4.7 2.1 4.7 4.7S28.3 16 25.7 16 21 13.9 21 11.3s2.1-4.7 4.7-4.7m0-1c-3.2 0-5.7 2.6-5.7 5.7s2.6 5.7 5.7 5.7 5.7-2.6 5.7-5.7-2.5-5.7-5.7-5.7z')
                      path(d='M25 13.7c-.1 0-.3-.1-.4-.1l-1.9-1.9c-.2-.2-.2-.5 0-.7s.5-.2.7 0l1.5 1.5L28.5 9c.2-.2.5-.2.7 0s.2.5 0 .7l-3.8 3.8c-.1.1-.2.2-.4.2z')
                    g.collapse
                      path(d='M2 27c-.3 0-.7-.1-.9-.4-.5-.5-.4-1.3.1-1.8l12.6-11.3c.5-.4 1.2-.4 1.7 0l12.2 11.3c.5.5.5 1.3.1 1.8-.5.5-1.3.5-1.8.1L14.6 16.2 2.9 26.7c-.3.2-.6.3-.9.3z')
              .details(v-if="!my.sentBills.includes(bill.billTitle) || my.expandedBills.includes(bill.billTitle)")
                p.bill-author
                  a.bill-author--name(v-if="bill.billAuthorLink" v-on:click="openLink(bill.billAuthorLink, '_system');") {{bill.billAuthorName}}
                  span.bill-author--name(v-else) {{bill.billAuthorName}}
                  span.bill-author--party(v-bind:class="bill.billAuthorParty") {{bill.billAuthorParty}}
                //-p {{bill.description}}
                p(v-if="bill.billDesc" v-html="bill.billDesc")
                p(v-else) {{bill.description}}
                p(v-if="bill.billImpact" v-html="bill.billImpact") 
                .email-congress(v-if="bill.emailBody && bill.emailSubject")
                  a.email-button(:href="emailLink(bill.emailSubject, bill.emailBody)" class="button") Email Congress
                
                span.email-sent(v-on:click="toggleEmailSent(bill.billTitle)" v-bind:class="{checked: my.sentBills.indexOf(bill.billTitle) !== -1}") 
                  span.checkbox 
                    svg(aria-hidden="true" data-fa-processed="" data-prefix="fas" data-icon="check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512")
                      path(d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z")
                  | I sent an email about this bill
