+sectionWrap('legislation')
  .bills(v-if="my.view == 'legislation'" v-cloak v-bind:key="0")
    .inner
      .bills-heading(v-on:click="stateSupportShow = !stateSupportShow;") State Legislation we are 
        span.support SUPPORTING
      +loadIndicator("stateSupportShow")
      transition(v-on:enter="slideDown" v-on:leave="slideUp")
        .bill-list(v-if="stateSupportShow")
          +bills('stateSupport')
  .bills
    .inner
      .bills-heading(v-on:click="stateOpposeShow = !stateOpposeShow;") State Legislation we are 
        span.oppose Opposing
      +loadIndicator("stateOpposeShow")
      transition(v-on:enter="slideDown" v-on:leave="slideUp")
        .bill-list(v-if="stateOpposeShow")
          +bills('stateOppose')
  .bills
    .inner
      .bills-heading(v-on:click="stateMonitorShow = !stateMonitorShow;") State Legislation we are 
        span.monitor Monitoring
      +loadIndicator("stateMonitorShow")
      transition(v-on:enter="slideDown" v-on:leave="slideUp")
        .bill-list(v-if="stateMonitorShow")
          +bills("stateMonitor")
