transition(enter-active-class="animated bounceInUp" leave-active-class="animated bounceOutUp")
  section.members(v-if="my.view == 'members'" v-cloak)
    .bills(v-if="my.view == 'members'" v-cloak v-bind:key="0")
      .inner
        h4.bills-heading(v-on:click="stateSupportShow = !stateSupportShow;") State Legislation we are Supporting
          span.indicator(v-bind:class="{loading: billsLoading, expanded: stateSupportShow}")
            span.bar.v
            span.bar.h
        transition(v-on:enter="slideDown" v-on:leave="slideUp")
          .bill-list(v-if="stateSupportShow")
            .bill(v-for="bill in stateSupport")
              a.bill-title(v-on:click="openLink(bill.billLink, '_system');") {{bill.billTitle}}
              strong.bill-custom-name(v-if="bill.billCustomName") {{bill.billCustomName}}
              p.bill-author
                a.bill-author--name(v-on:click="openLink(bill.billAuthorLink, '_system');") {{bill.billAuthorName}}
                span.bill-author--party(v-bind:class="bill.billAuthorParty") {{bill.billAuthorParty}}
              p {{bill.description}}
              .email-congress(v-if="bill.emailBody")
                a.email-button(:href="emailLink(bill.emailTitle, bill.emailBody)" class="button") Email Congress
                span.email-sent(v-on:click="setEmailSent(bill.billTitle)" v-bind:class="{checked: my.sentBills.indexOf(bill.billTitle) !== -1}") 
                  span.checkbox 
                    svg(aria-hidden="true" data-fa-processed="" data-prefix="fas" data-icon="check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512")
                      path(d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z")
                  | I sent an email about this bill
        h4.bills-heading(v-on:click="stateOpposeShow = !stateOpposeShow;") State Legislation we are Opposing
          span.indicator(v-bind:class="{loading: billsLoading, expanded: stateOpposeShow}")
            span.bar.v
            span.bar.h
        transition(v-on:enter="slideDown" v-on:leave="slideUp")
          .bill-list(v-if="stateOpposeShow")
            .bill(v-for="bill in stateOppose")
              a.bill-title(v-on:click="openLink(bill.billLink, '_system');" href="#") {{bill.billTitle}}
              span.bill-custom-name(v-if="bill.billCustomName") {{bill.billCustomName}}
              p.bill-author
                a.bill-author--name(v-on:click="openLink(bill.billAuthorLink, '_system');" href="#") {{bill.billAuthorName}}
                span.bill-author--party(v-bind:class="bill.billAuthorParty") {{bill.billAuthorParty}}
              p {{bill.description}}
              a.email-button(:href="emailLink(bill.emailTitle, bill.emailBody)" class="button" v-if="bill.emailBody") Email Congress about this bill
        h4.bills-heading(v-on:click="stateMonitorShow = !stateMonitorShow;") State Legislation we are Monitoring
          span.indicator(v-bind:class="{loading: billsLoading, expanded: stateMonitorShow}")
            span.bar.v
            span.bar.h
        transition(v-on:enter="slideDown" v-on:leave="slideUp")
          .bill-list(v-if="stateMonitorShow")
            .bill(v-for="bill in stateMonitor")
              a.bill-title(v-on:click="openLink(bill.billLink, '_system');" href="#") {{bill.billTitle}}
              span.bill-custom-name(v-if="bill.billCustomName") {{bill.billCustomName}}
              p.bill-author
                a.bill-author--name(v-on:click="openLink(bill.billAuthorLink, '_system');" href="#") {{bill.billAuthorName}}
                span.bill-author--party(v-bind:class="bill.billAuthorParty") {{bill.billAuthorParty}}
              p {{bill.description}}
              a.email-button(:href="emailLink(bill.emailTitle, bill.emailBody)" class="button" v-if="bill.emailBody") Email Congress about this bill
    .schedule(v-if="my.view == 'members'" v-cloak v-bind:key="1")
      .inner
        h4.schedule-heading(v-on:click="scheduleShow = !scheduleShow") 2018 CNIGA Schedule
          span.indicator(v-bind:class="{expanded: stateSupportShow}")
            span.bar.v
            span.bar.h
        transition(v-on:enter="slideDown" v-on:leave="slideUp")
          .schedule-items(v-if="scheduleShow")
            .schedule-item(v-for="item in schedule")
              h5 {{item.title}}
              date {{item.datetime}}
              p(v-if="item.location") Location: {{item.location}} 
                span(v-if="item.street_address") - {{item.street_address}} 
                span(v-if="item.city") {{item.city}}, 
                span(v-if="item.state") {{item.state}} 
                span(v-if="item.zip") {{item.zip}}
              p(v-if="item.description") {{item.description}}
