- var testing = "true"
- var appTitle = "CNIGA"
include partials/_mixins

doctype html
html(lang="en")
  include partials/_head
  
  body
    main#app
      
      include partials/sections/_welcome
      include partials/sections/_login
      include partials/sections/_news
      include partials/sections/_contact
      include partials/sections/_legislation
      include partials/sections/_schedule
      include partials/sections/_iframe
      
      include partials/_footer

    include partials/_javascripts.pug
