- var testing = "true"
- var appTitle = "CNIGA"

doctype html
html(lang="en")
  include partials/_head
  
  body
    main#app
        
      include partials/sections/_news
      include partials/sections/_contact
      
      include partials/_footer

    include partials/_javascripts.pug