- var testing = "true"
- var appTitle = "CNIGA"

doctype html
html(lang="en")
  include partials/_head
  
  body
    main#app

      //-include partials/_header
      
      include partials/_footer

    include partials/_javascripts.pug