- var testing = "true"
- var appTitle = "CNIGA"

doctype html
html(lang="en")
  include partials/_head
  
  body
    main#app
        
      include partials/sections/_news
      
      section.contact(v-show="my.view == 'contact'")
        .inner
          form
            select
              option Question
      
      include partials/_footer

    include partials/_javascripts.pug