.ios{
  section.iframe {
    iframe { width: 1px; min-width: 100%; height: 100%; }
    &.guest { bottom: 10px; padding-bottom: 0;
      .inner { height: calc(100% - 34px); }
    }
  }
}

section.iframe {
  .inner { padding: 0; height: 100% }
  iframe { width: 100%; height: 100%; }
}
