section.news {
  dl { padding: 12px; border-bottom: 1px solid $black;
    &:last-child { border-bottom: none; }
  }
  dt {
    .unread { width:1em; height: 1em; display: inline-block; background-color:$red; border-radius: 50%; color:$white; margin-right: 0.5em; text-align: center; font-weight: 700; }
    .title { font-weight: $bold;
      &a { color:$orange; }
    }
    //-.title-link { display: block; font-size:200%; cursor: pointer; position: relative; z-index: 6; }
  }
  dd { margin-top:10px; font-size:0.85em; }
}